html{
    background-color: #edfaee;
}
h1{
    color: #008000;
}
h2{
    border-bottom: 1px #008000 solid;
    text-align: center;
}
section {
    border: 1px #008000 solid;
}
p1{
    background-color: #008000;
    color: white;
}
p2{
    color: grey;
}
baju1{
    width: 
}
